/*  your css code here. If applicable */
:root {
    background-color: rgb(135, 206, 235);
}

article p:first-child {
  color: white;
  background-color: black;
}

article p:last-child {
  color: red;
}

ul li:nth-child(odd) {
  background-color: white;
}

ul li {
  width: 50%;
  padding: 10px;
  background-color: gray;
}

ul li:first-child,
ul li:last-child {
  font-size: 22px;
}

ul li:nth-last-child(3) {
  background-color: pink;
}
